.container {
    width: 25vw;
    height: 90vh;
    border-radius: 15px;
    background-color: gray;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
.todoObject {
    background-color: red;
}
.list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
    
}
.item {
    width: 80%;
    height: 15vh;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;

}
.mainContainer {
    display: flex;
    justify-content: center;
    gap: 1%;

}
.header {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

img {
    width: 2vw;
    height: 2vw;
}
img:hover {
    cursor: pointer;
}

.inputBar {
    
    animation: inputBarAnimation;
    animation-duration: 3s;
}


@keyframes inputBarAnimation {
     
}